.expWrapper {
    border-left : solid #F7F9FC;
    margin-left: 3px;
}

.experience {
    margin-left: 20px;
}

.expDot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2E2E48;
    align-items: center;
    justify-content: center;
}

.expContent {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.explist {
    display: flex;
    flex-direction: row;
}
.expDate {
    font-size: 5px;
    color: #47516B;
    padding-left: 10px;
}
.expText {
    font-size: 8px;
    color: #79819A;
    font-family: "DM Sans";
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px; /* 133.333% */
    letter-spacing: 0.06px;
}
.expTitle {
    font-family: "DM Sans";
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 9px; /* 128.571% */
    color: #2E2E48;
}