@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');

.logo {
    margin-right: 10px; /* 로고와 텍스트 사이의 공간을 추가 */
    padding: 2.5px;
    width: 11px;
    height: 11px;
    background-color: #E2E6EE;
    border-radius: 50%;
    display: flex;
}

.privacy {
    margin: 0px; /* 가운데 정렬 */
    font-family: "DM Sans", sans-serif; /* 폰트 설정 */
    display: flex; /* flexbox를 사용하여 로고와 텍스트를 나란히 배치 */
    flex-direction: column; /* 세로로 정렬 */
}

.info {
    margin-bottom: 20px; /* 항목 사이의 마진 설정 */
    display: flex; /* flexbox를 사용하여 로고와 텍스트를 나란히 배치 */
    align-items: center; /* 로고와 텍스트를 수평 정렬 */
}
  
  
.link p {
    margin: 0;
    color: #757575; /* p 태그의 색상을 그레이로 설정 */
    font-size: 6px; /* p 태그의 폰트 크기 설정 */
}
  
.link div {
    color: #47516B; /* 링크의 색상을 블랙으로 설정 */
    font-size: 6px; /* 링크의 폰트 크기 설정 */
}