.projectLogo {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
}
.projectTitle {
    max-width: 346px;
    margin-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    margin-bottom: 4px;
    border-radius: 3px;
    background-color: #F7F9FC;
    display: flex; /* flexbox를 사용하여 로고와 텍스트를 나란히 배치 */
    align-items: center; /* 로고와 텍스트를 수평 정렬 */
}
.project td {
    max-width: 358px;
    max-height: fit-content;
}
.projectName {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans";
    justify-content: flex-start;
    align-items: flex-start;
}
.project1 {
    color: #2E2E48;
    font-size: 8px;
    font-style: bold;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: 2px;
}
.projectDescription {
    color: #79819A;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;

}
.projectContents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "DM Sans";
    margin-left: 16px;
}
.projectContent1 {
    width: 50%;
    max-height: 100%;
    background-color: #F7F9FC;
    margin-right: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    border-radius: 3px;
    background-color: #F7F9FC;
    display: flex; /* flexbox를 사용하여 로고와 텍스트를 나란히 배치 */
}
.projectContent2 {
    width: 50%;
    align-self: stretch;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    border-radius: 3px;
    background-color: #F7F9FC;
}
.projectContent1 li {
    color: #79819A;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    list-style-type: none;
    list-style: none;
}

.projectContent1 ul {
    color: #2E2E48;
    font-size: 8px;
    font-style: bold;
    font-weight: 500;
    line-height: 10px;
    padding-left: 0px;
    margin-top: 0px;
}

.projectContent2 li {
    color: #79819A;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    list-style-type: none;
    list-style: none;
}

.projectContent2 ul {
    color: #2E2E48;
    font-size: 8px;
    font-style: bold;
    font-weight: 500;
    line-height: 10px;
    padding-left: 0px;
    margin-bottom: 2px;
    margin-top: 0px;
}
.nodeLogo {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
}
.nginxLogo {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
}
.techStack {
    max-width: 346px;
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    margin-left: 16px;
    padding-left: 12px;
    font-family: "DM Sans";
    margin-left: 16px;
    background-color: #F7F9FC;
    border-radius: 3px;
}
.techIntroduce {
    color: #2E2E48;
    font-size: 8px;
    font-style: bold;
}
.stackGrup {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}
.techName {
    color: #79819A;
    font-size: 7px;
}
.stackLogo {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
}